:root{
    --gray: #94a3b8;
}
h1{
    text-align: center;
}
textarea{
   width: 334px;
   height: 137px;
   padding: 0.3rem 0.3rem; 
   display:block;
   margin: auto;  
}
::placeholder{
    color: var(--gray);
    height: 90%;
    font-size:large;
    font-weight: bold;
}
button{
    margin:0.6rem 0rem ;
    padding: 0.5rem;
    display: block;
    margin: auto;
}